body{
    font-family: "Roboto", sans-serif;
}
.content{
    display: grid;
    grid-template-columns: 20% 80%;
   
}
.sidebar{
    height: 100vh;
    background-color: #2563eb;
    color: #ecfdf5;
}
ul{
    list-style: none;
}
ul:hover{
    cursor: pointer;
}
ul>li:hover{
    text-decoration: underline;
}
.catlogo{
    width: 25px
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
}
.row, .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
}
input{
    width: 500px;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 200px;
}
.profilepicture, .avatarwelcome{
    margin:0 25px;
}

.row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin-right: 30px;
}
.btn{
    background-color: #0ea5e9;
    border: 1px solid #0ea5e9;
    width: 70px;
    height: 35px;
    color: white;
    border-radius: 20px;
    justify-content: space-between;

}
.maincontent{
    display: grid;
    grid-template-columns: 70% 30%;
}
.cards{
    display: grid;
    grid-template-columns: 50% 50%;

}
.card{
    background-color: white;
    border-left: 5px solid #facc15;
    border-radius: 10px;
    width: 80%;
    height: 150px;
    margin: 15px 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}
h6{
    font-size: 18px;
}
.card p{
    font-size: 14px;
    color: #737373;
    margin: 10px 0;
}
.down-cards{
    height: 80%;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    

}
.c-right, .d-right{
    display: grid;
    grid-template-rows: 50% 50%;
}
h4{
    margin-top: 15px;
    margin-left: 20px;
}
h1{
    margin-left: 20px;
}
.text h6{
    font-size: 16px; 
}
.text p{
 font-size: 12px;
}
.text{
    padding: 5px 10px;
}